.home {
  margin-top: -135px;
  .home-top {
    background-position: bottom, center;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 1173px;
    height: 1173px;
    .right-btn {
      position: fixed;
      right: -125px;
      top: 610px;
      z-index: 10;
      -moz-transform:rotate(90deg);
      -webkit-transform:rotate(90deg);
      .icon-image {
        -moz-transform:rotate(-90deg);
        -webkit-transform:rotate(-90deg);
      }
    }
  }
  .tabs-content {
    margin-top: -60px;
    background-image: url('../../assets/img/icon/icon-12.png');
    background-position: bottom, center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    height: 1414px;
    .tabs-content-desc {
      span {
        letter-spacing: 2px;
        background-image: linear-gradient(-133deg,#00B3E0, #0264F8);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
      }
      
    }
    .tabs-list {
      overflow: hidden;
      .tabs-list-item {
        letter-spacing: 1px;
        float: left;
        min-width: 254px;
        height: 52px;
        line-height: 52px;
        &:first-of-type {
          margin-left: 70px;
        }
        
        &.on {
          color: #E6A600;
          background-image: url('../../assets/img/icon/icon-13.png');
          background-repeat: no-repeat, no-repeat;
          background-size: 100% 100%;
        }
      }
    }
    .tabs-content-img {
      width: 1440px;
      height: 800px;
      .bg-img {
        width: 1440px;
        height: 800px;
        background-repeat: no-repeat, no-repeat;
        background-size: cover;
      }
      .img-text {
        position: absolute;
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
        width: 1160px;
        z-index: 3;
        .img-title {
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
      }
      .tabs-content-img-mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 1440px;
        height: 800px;
      }
    }
  }
  .video-content {
    background-image: url('../../assets/img/icon/icon-18.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 1633px;
    height: 1633px;
    .video-title {
      span {
        letter-spacing: 2px;
        background-image: linear-gradient(-133deg, #00B3E0, #0264F8);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
      }
      
    }
    .video-content-img {
      width: 1115px;
      height: 1501px;
      left: -360px;
      top: 150px;
      z-index: 2;
    }
    .video-scroll {
      .video-list {
        .video-list-item {
          &:first-of-type {
            margin-left: -15px;
          }
          .video-img-mask {
            display: none;
          }
          &.on {
            .video-img-mask {
              display: block;
            }
          }
        }
      }
      &::-webkit-scrollbar {
        /*Scroll bar overall style*/
        width : 4px;  /*Height and width respectively correspond to the size of horizontal and vertical scroll bars*/
        height: 4px;
        
      }
      &::-webkit-scrollbar-thumb {
          /*Small square in scroll bar*/
          border-radius: 10px;
          background: #1e4475;
          // background-image: url('../../assets/img/icon/icon-20.png');
          // background-size: 117px 53px;
          // background-repeat: no-repeat;
      }
      &::-webkit-scrollbar-track {
          /*Track inside scroll bar*/
          background: #08293d;
          margin: 0 10px;
      }
    }
    

  }
  .form-content {
    background-image: url('../../assets/img/icon/icon-15.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 1165px;
    height: 1165px;
    overflow-x: hidden;
    .form-content-input {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: 1;
      .sub-btn {
        width: 255px;
        height: 60px;
        line-height: 60px;
        text-align: center;
      }
      input {
        width: 450px;
        height: 60px;
        line-height: 60px;
        font-size: 16px;
      }
    }
    .form-content-img {
      width: 786px;
      height: 1100px;
      right: -260px;
      top: 7px;
      z-index: 2;
    }
  }
  .news-content {
    background-image: url('../../assets/img/icon/icon-23.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 1550px;
    height: 1550px;
    .more-btn {
      width: 194px;
      height: 52px;
      line-height: 52px;
      text-align: center;
      background-image: url('../../assets/img/icon/icon-24.png');
      background-repeat: no-repeat, no-repeat;
      background-size: 100% 100%;
    }
    .news-title {
      span {
        letter-spacing: 2px;
        background-image: linear-gradient(-133deg, #00B3E0, #0264F8);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
      }
    }
    .news-list {
      .news-list-item {
        
        background-repeat: no-repeat, no-repeat;
        background-size: 100% 100%;
        .item-box {
          .item-time {
            span {
              font-size: 14px;
              font-weight: 600;
              letter-spacing: 2px;
              background-image: linear-gradient(-133deg, #00B3E0, #0264F8);
              color: transparent;
              background-clip: text;
              -webkit-background-clip: text;
            }
          }
        }
      }
    }
  }
  .config-content {
    background-image: url('../../assets/img/icon/icon-29.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 1104px;
    height: 1104px;
    .config-title {
      span {
        letter-spacing: 2px;
        background-image: linear-gradient(-133deg, #00B3E0, #0264F8);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
      }
    }
    .list-left {
      .config-item {
        &::before {
          content: "";
          background-image: url('../../assets/img/buy-now-sign.png');
          position: absolute;
          bottom: -14px;
          left: 0;
          width: 15px;
          height: 14px;
          rotate: 270deg;
        }
        &:last-of-type {
          &::before {
            content: "";
            background-image: none;
            position: absolute;
            bottom: -14px;
            left: 0;
            width: 15px;
            height: 14px;
            rotate: 270deg;
          }
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 14px;
          width: calc(100% - 14px);
          height: 1px;
          background-color: #fff;
          opacity: .11;
        }
      }
    }
    .list-right {
      background-image: url('../../assets/img/icon/icon-26.png');
      background-repeat: no-repeat, no-repeat;
      background-size: 656px 858px;
      height: 858px;
      .config-cell {
        &::before {
          content: "";
          background-image: url('../../assets/img/buy-now-sign.png');
          position: absolute;
          bottom: 0;
          right: 76px;
          width: 15px;
          height: 14px;
          rotate: 90deg;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 39px;
          width: calc(100% - 115px);
          height: 1px;
          background-color: #fff;
          opacity: .11;
        }
      }
    }
    
  }
  .qa-content {
    background-position: center, center;
    background-image: url('../../assets/img/icon/icon-30.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 100%;
    min-height: 1438px;
    .qa-title {
      span {
        letter-spacing: 2px;
        background-image: linear-gradient(-133deg, #00B3E0, #0264F8);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
      }
    }
    .qa-list {
      width: calc(50% - 15px);
      .qa-cell {
        &::before {
          content: "";
          background-image: url('../../assets/img/buy-now-sign.png');
          position: absolute;
          bottom: 0;
          left: 0;
          width: 15px;
          height: 14px;
          rotate: 180deg;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: calc(100%);
          height: 1px;
          background-color: #fff;
          opacity: .11;
        }
      }
    }
  }
}
