.home {
  margin-top: -135px;
  .home-top {
    background-position: bottom, center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    height: 1173px;
    .right-btn {
      position: absolute;
      right: -125px;
      top: 610px;
      -moz-transform:rotate(90deg);
      -webkit-transform:rotate(90deg);
      .icon-image {
        -moz-transform:rotate(-90deg);
        -webkit-transform:rotate(-90deg);
      }
    }
  }
}
